<div id="commissionPanel" ng-controller="commissionPanelController">
  <section class="content-header">
    <h1>
      达人佣金列表
      <small>达人佣金列表管理</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin/"><i class="fa fa-dashboard"></i> 主页</a></li>
      <li class="active">达人佣金列表</li>
    </ol>
  </section>

  <section class="content">
    <div id="commissionListRow" class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">达人佣金列表</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="commissionListTable" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>订单ID</th>
                <th>消费者ID</th>
                <th>推荐人ID</th>
                <th>推荐人昵称</th>
                <th>佣金</th>
                <th>订单状态</th>
                <th>支付状态</th>
                <th>下单时间</th>
                <th>操作</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>订单ID</th>
                <th>消费者ID</th>
                <th>推荐人ID</th>
                <th>推荐人昵称</th>
                <th>佣金</th>
                <th>订单状态</th>
                <th>支付状态</th>
                <th>下单时间</th>
                <th>操作</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>

  </section>
</div>